[% appdir %]/logs/production.log {
    dateext
    missingok
    notifempty
    sharedscripts
    delaycompress
    postrotate
        /sbin/service [% prog_name %] restart > /dev/null 2>/dev/null || true
    endscript
}
